@font-face {
	font-family: "Inter-R";
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Inter-Regular.woff2);
}
@font-face {
	font-family: "Inter-B";
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/Inter-Bold.woff2);
}
@font-face {
	font-family: "Urbanist-M";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/UrbanistMedium.woff2);
}
@font-face {
	font-family: "Urbanist-SB";
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/UrbanistSemiBold.woff2);
}
@font-face {
	font-family: "Righteous";
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Righteous-Regular.woff2);
}