body{
	font-family: "Righteous";
	background-color: var(--zeus);
	color: var(--white);
	font-size: 20px;
	line-height: 38px;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.decor-color{
	color: var(--antique);
}